header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-position: center center;
    background-size: cover;
    transition: 0.4s ease;
    background-image: url(../assets/image2.jpg); //CHANGE WITH JS NOT WORKING!!!

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        // z-index: -1;
    }

    h1 {
        font-family: $headerFont;
        color: white;
        font-size: 45px;
        letter-spacing: 3px;
        text-shadow: 4px 4px $tertiary;
        position: absolute;
        z-index: 2;
        text-transform: uppercase;
        margin-bottom: 200px;
        height: 300px;
    }

    h2 {
        font-family: $h2Font;
        color: white;
        font-size: 40px;
        letter-spacing: 3px;
        position: absolute;
        z-index: 2;
        height: 250px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 70vw;
        gap: 45px;
        position: absolute;
        z-index: 2;
        height: 40vh;
        margin-top: 220px;

        .firstSelection,
        .secondSelection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;


            label {
                font-family: $baseFont;
                font-size: 37px;
                color: $tertiary;
                margin-bottom: 20px;
            }

            select {
                width: 500px;
                padding: 18px;
                font-family: $baseFont;
                font-size: 16px;
                border-radius: 7px;
                background-color: $quinary;
                color: $secondary;
                border: none;
                outline: 3px solid white;
            }
        }

        button {
            font-family: $baseFont;
            padding: 18px;
            font-size: 18px;
            width: 500px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: $tertiary;
            color: $secondary;
            border: none;
            outline: 3px solid white;
            border-radius: 50px;
            transition-duration: 0.6s;
            cursor: pointer;

            &:hover {
                background-color: white;
                color: $tertiary;
                outline: 3px solid $tertiary;
            }
        }



    }

    .homeImageContainer {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        height: 70vh;
        width: 70vw;
        position: relative;
        overflow: hidden;



        .image1 {
            background-image: url("../assets/image3.jpg");
        }

        .image2 {
            background-image: url("../assets/image2.jpg");
        }

        .image3 {
            background-image: url("../assets/image1.jpg");
        }

        .image4 {
            background-image: url("../assets/image4.jpg");
        }

        .image5 {
            background-image: url("../assets/image5.jpg");
        }

        .homeImage {
            opacity: 0;
            height: 100vh;
            width: 100vw;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: -15vh;
            left: -15vw;
            transition: 0.4s ease;
            z-index: 1;
        }

        .homeImage.active {
            opacity: 1;
        }


    }

}

footer {
    display: flex;
    justify-content: space-between;
    position: sticky;
    color: $primary;
    background-color: $tertiary;
    width: 100%;
    bottom: 0;

    .footerText {
        font-size: 16px;
        color: $primary;
        margin: 15px;

        a {
            text-decoration: none;
            color: $primary;
        }
    }
}

@media (min-width: 870px) and (max-width: 1000px) {
    header {
        h1 {
            font-size: 40px;
            text-shadow: 3px 3px #FF9C08;
            margin-bottom: 130px;
        }
    }
}

@media (min-width: 600px) and (max-width: 869px) {
    header {
        h1 {
            font-size: 25px;
            text-shadow: 2px 2px #FF9C08;
            margin-bottom: 130px;
        }

        h2 {
            font-size: 30px;

        }
    }
}

@media (min-width: 450px) and (max-width: 599px) {
    header {
        h1 {
            font-size: 18px;
            text-shadow: 2px 2px #FF9C08;
            margin-bottom: 130px;
        }

        h2 {
            font-size: 20px;
        }

        form {

            .firstSelection,
            .secondSelection {
                select {
                    width: fit-content;
                }
            }


            button {
                width: fit-content;
            }
        }


    }
}