// #parksInfo
//     .info  
//         .parkInfoContainer 
//             h2 
//             p 
// a
//         .parkImgContainer 
//             img 


.resultsBackground {
    background-color: lightyellow; //new
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    // align-items: stretch;
    flex-wrap: wrap;

    h3 {
        font-family: $h2Font;
        font-size: 1.5rem;
        color: white;
        text-align: center;
        text-shadow: 1px 1px $primary;
        margin: 0 auto;
        padding: 50px;
    }
}


.elWrapper {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 25px auto;

    .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 40%;
        margin: 0 auto;
        padding: 20px;
        background-image: url("../assets/resultsBackgroundImg.jpg");
        backdrop-filter: blur(8px);
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        outline: solid 6px $tertiary;

        .parkInfoContainer {
            width: 100%;
            min-height: fit-content;
            text-align: center;
            background-color: #ffdd33c1;
            border-radius: 10%;
            padding: 5%;
            margin: 5px auto 10px auto;
            flex: 1;
        }

        .parkImgContainer {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            margin: auto;
            flex: 1;

            img {
                height: 100%;
                width: 100%;
                display: block;
                box-shadow: 5px 5px #1b4f19a4;
                outline: 5px solid $quaternary;
            }
        }

        h2 {
            font-family: $h2Font;
            font-size: 1.2rem;
            color: $primary;
            margin-top: 0;
            margin-bottom: 0px;
            border-bottom: 1px solid $primary;
        }


        p {
            font-family: $baseFont;
            font-size: .8rem;
            line-height: 1rem;
            letter-spacing: .4px;
            color: $primary;
        }

        a {
            font-family: $baseFont;
            font-size: .7rem;
            line-height: 1rem;
            letter-spacing: .4px;
            color: $primary;
            background-color: $quinary;
            text-decoration: none;
            padding: 5px;

            &:hover {
                background-color: $secondary;
                color: $quinary;
            }

            &:focus {
                background-color: $secondary;
                color: $quinary;
            }
        }

    }

    .map {
        margin: 0 auto;

        iframe.parkMap {
            border: none;
            border-radius: 10px;
            outline: solid 6px $tertiary;
        }
    }

}

@media (min-width: 600px) and (max-width: 1000px) {
    .elWrapper {
        flex-direction: column;
        gap: 35px;

        .info {
            width: 450px;
        }
    }
}

@media (min-width: 450px) and (max-width: 599px) {
    .elWrapper {
        flex-direction: column;
        gap: 35px;

        .info {
            width: 390px;
        }

        .map {
            iframe.parkMap {
                width: 390px;
            }
        }
    }
}

.backToSearch {
    position: fixed;
    bottom: 70px;
    right: 25px;
    z-index: 100;
    display: none;
    font-family: $baseFont;
    padding: 18px;
    font-size: 18px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $tertiary;
    color: $secondary;
    border: 3px solid white;
    border-radius: 50px;
    transition-duration: 0.6s;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: $tertiary;
        border: 3px solid $tertiary;
    }
}