$headerFont: "Mulish";
$h2Font: 'Slabo 27px';
$baseFont: "Montserrat Alternates";

//site colours 

$primary: #2A1306;
$secondary: #465102;
$tertiary: #FF9C08;
$quaternary: #FFDC33;
$quinary: #FFFB88;